---
import { menu } from "../data/settings";
import { settings } from "../data/settings";
import { Icon } from "astro-icon";
const { triggerId } = Astro.props;
---

<script type="module">
    const body = document.querySelector("body");
    const modal = document.querySelector(".modal");
    const modalId = modal.getAttribute("aria-labelledby");
    const modalCloseButton = modal.querySelector(".modal__close button");
    const modalTrigger = document.querySelector(`#${modalId}`);

    const teleportToRoot = (element) => {
        element.remove();
        body.appendChild(element);
    };
    const getKeyboardFocusableElements = (element) => {
        return [
            ...element.querySelectorAll(
                'a, button, input, textarea, select, details,[tabindex]:not([tabindex="-1"])'
            ),
        ].filter((el) => !el.hasAttribute("disabled"));
    };
    const trapFocus = (event) => {
        const focusables = getKeyboardFocusableElements(modal);
        const firstFocusable = focusables[0];
        const lastFocusable = focusables[focusables.length - 1];
        if (
            document.activeElement === lastFocusable &&
            event.key === "Tab" &&
            !event.shiftKey
        ) {
            event.preventDefault();
            firstFocusable.focus();
        }
        if (
            document.activeElement === firstFocusable &&
            event.key === "Tab" &&
            event.shiftKey
        ) {
            event.preventDefault();
            lastFocusable.focus();
        }
    };
    const openModal = (_) => {
        const firstLink = modal.querySelector(".modalFirstLink");
        modal.classList.add("show");
        body.classList.add("modal-is-active");
        firstLink.focus();
        document.addEventListener("keydown", trapFocus);
        modal.addEventListener("keydown", (event) => {
            if (event.key === "Escape") {
                closeModal();
            }
        });
    };
    const closeModal = (_) => {
        modal.classList.remove("show");
        body.classList.remove("modal-is-active");
        modalTrigger.focus({ preventScroll: true });
        document.removeEventListener("keydown", trapFocus);
    };
    // execution
    teleportToRoot(modal);
    modalTrigger.addEventListener("click", openModal);
    modalCloseButton.addEventListener("click", closeModal);
    modal.addEventListener("click", (event) => {
        if (!event.target.closest(".modal__content")) {
            closeModal();
        }
    });
    window.closeModal = closeModal;
</script>

<nav
    class="modal mobile-nav"
    role="dialog"
    aria-modal="true"
    aria-labelledby={triggerId}
>
    <div class="nav-header">
        <h2 class="header__title">{settings.title}</h2>
        <div class="modal__close">
            <button class="toggle-menu toggle__btn">
                <span class="sr-only">Close Mobile Navigation Menu</span>
                <Icon name="ic:baseline-close" class="color-white" />
            </button>
        </div>
    </div>

    <ul class="no-list">
        {
            menu.map((item, index) => (
                <>
                    <li>
                        <a
                            class={index === 0 ? "modalFirstLink" : ""}
                            href={item.link}
                        >
                            {item.name}
                        </a>
                    </li>
                </>
            ))
        }
    </ul>
</nav>

<style lang="scss">
    .modal {
        height: 0;
        position: fixed;
        visibility: hidden;
        width: 100vw;
        height: 100vh;
        z-index: -10;
        top: 0;
        left: 0;
        background-color: var(--primary-color);
        padding: var(--space-m);
        overflow: auto;

        &.show {
            z-index: 10;
            visibility: visible;
        }

        h2 {
            color: var(--white);
        }
        a {
            color: var(--white);
            padding: var(--space-2xs) 0;
            display: flex;
            text-decoration: none;
        }

        .mobile-nav-heading {
            margin: 0;
        }
    }

    li {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:first-of-type {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }

        &:focus-within {
            background-color: rgba(0, 0, 0, 0.1);
        }

        a {
            font-family: var(--sans-serif);
            font-weight: 300;

            &:focus {
                padding-left: 0.5em;
            }
        }
    }

    .nav-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--space-l);
    }

    .toggle__btn {
        border-radius: 10em;
        display: flex;
        border: none;
        color: currentColor;
        white-space: nowrap;
        align-items: center;
        height: 3rem;
        width: 3rem;
        padding: var(--space-2xs);
        gap: var(--space-3xs);
        background-color: rgba(0, 0, 0, 0.3);
        font-size: var(--step--2);

        svg {
            flex: auto;
            height: 100%;
            width: 100%;

            path {
                fill: var(--white);
            }
        }
    }
</style>
