---
import { formatDate } from "../utils/helpers";

const posts = await Astro.glob("../pages/blog/*.md");
posts.sort(
    (a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date)
);
---

<div class="post-list no-list">
    {
        posts.map((post) => (
            <article>
                <time datetime={post.frontmatter.date} class="post-date">
                    {formatDate(post.frontmatter.date)}
                </time>
                <h3 class="post-title">
                    <a href={post.url}>{post.frontmatter.title}</a>
                </h3>
                <p class="post-description">{post.frontmatter.description}</p>
            </article>
        ))
    }
</div>

<style lang="scss">
    article {
        margin-bottom: var(--space-xl);
        position: relative;

        &:not(:last-child):before {
            content: "";
            position: absolute;
            bottom: calc(var(--space-m) * -1);
            left: 0;
            background: var(--subtle-color);
            height: 0.2em;
            width: 4rem;
        }

        .post-title {
            margin-top: 0;
            margin-bottom: var(--space-xs);

            a {
                text-decoration: none;
                font-weight: 800;

                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }
        }

        .post-date {
            color: var(--text-accent-color);
            font-family: var(--sans-serif);
            font-weight: 300;
            font-size: var(--step--1);
        }
    }
</style>
